# Copy to .env.bnb-testnet.sink

DATABASE_URL="postgres://dev:insecure@localhost:5432/main?sslmode=disable&schemaName=indexer_evm_bnb_testnet"
SUBSTREAMS_ENDPOINT=chapel.substreams.pinax.network:443
SUBSTREAMS_API_KEY=
SUBSTREAMS_API_TOKEN=
UNISWAP_V3_FACTORY=0x0BFbCF9fa4f9C56B0F40a671Ad40E0805A091865
OAPP_ADDRESS=0xf132F6224DaD58568c54780c14E1d3b97A5f672A
USD_TOKEN_ADDRESS=0xED0E8956D5e7b04560460BE6B3811B0b31cEe8E1
USD_TOKEN_DECIMALS=6
LAUNCHPAD_USD_DECIMALS=18
DEFAULT_TOKEN_DECIMALS=18
DEFAULT_TOKEN_SUPPLY=1000000000
START_BLOCK=93753519
STOP_BLOCK=93754323
SUBSTREAMS_PARALLEL_WORKERS=20
